<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.alivc.toolkit.dao.ToolKitDao">

    <resultMap id="ToolResultMap" type="com.alivc.toolkit.pojo.ToolKit">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tool_kit_name" property="toolKitName" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getToolKit" parameterType="com.alivc.toolkit.pojo.ToolKit" resultMap="ToolResultMap">
        SELECT id, tool_kit_name,url,type from vod_tool
        <where>
            <if test="toolKitName !=null and toolKitName !=''">
                tool_kit_name = #{toolKitName,jdbcType=VARCHAR}
            </if>
            <if test="type !=null and type !=''">
                and type = #{type,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>