<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alivc.vod.dao.LiveDao" >
	
	 <resultMap id="recommendLiveResultMap" type="com.alivc.vod.pojo.RecommendLive">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="user.userId" jdbcType="VARCHAR" />
		<result column="live_id" property="liveId" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="cover_url" property="coverUrl" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="first_frame_url" property="firstFrameUrl" jdbcType="VARCHAR" />
		<result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
		<result column="size" property="size" jdbcType="INTEGER" />
		<result column="tags" property="tags" jdbcType="VARCHAR" />
		<result column="cate_id" property="cateId" jdbcType="INTEGER" />
		<result column="cate_name" property="cateName" jdbcType="VARCHAR" />
		<result column="nick_name" property="user.userName" jdbcType="VARCHAR" />
		<result column="avatar_url" property="user.avatarUrl" jdbcType="VARCHAR" />
		<result column="share_url" property="shareUrl" jdbcType="VARCHAR" />
		<result column="live_url" property="liveUrl" jdbcType="VARCHAR" />
	</resultMap>
	 
	
	<sql id="Recommend_Column_List" >
    v.id, v.user_id, v.live_id, v.title, v.description,  
      v.cover_url, v.status,v.first_frame_url, v.creation_time,
     v.size, v.tags,v.cate_id,v.cate_name ,v.share_url,l.nick_name,
     l.avatar_url,v.live_url    
    </sql>
	 
	
	<select id="getRecommendLive"    resultMap="recommendLiveResultMap">
		SELECT 
			 <include refid="Recommend_Column_List" />
		from  recommend_live v  LEFT JOIN  live_userInfo l on v.user_id = l.user_id 
		 order by v.id desc LIMIT #{pageIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
	</select>
   
   
</mapper>